* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    -webkit-user-drag: none;
    user-zoom: none;
    -webkit-touch-callout: none;
}

body {
    background-image: url('./imgs/industrial-background-learning.png');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* cards */

#card-container {
    width: 500px;
    height: 100vh;
    margin: 0 auto;
    background-color: rgb(111, 111, 111);
    display: flex;
    flex-direction: column;
} 

#card {
    height: 90vh;
    width: 400px;
    background-color: rgb(201, 201, 201);
    margin: 0 auto;
}

.character-info {
    text-align: center;
    margin: 20px 0 5px 0;
}

#img-background {
    background: #5c6c76;
    border-radius: 10px;
    width: 350px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
}

#img-path {
    width: 200px;
    padding-top: 20px;
}

#text {
    text-align: center;
    width: 100%;
    font-family: monospace;
    font-size: 25px;
    padding: 30px 20px;
    display: inline-block;
    height: 20vh;
}

/* answers */

.yes-container {
    height: 80vh;
    background-color: rgb(1, 151, 1);
    display: flex;
    align-items: center;
}

.no-container {
    height: 80vh;
    background-color: rgb(208, 5, 5);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#yes {
    margin: 0 20px;
    font-family: monospace;
    font-size: 35px;
    display: inline-block;
}

#no {
    font-family: monospace;
    font-size: 35px;
    margin: 55% 20px;
}

/* sliderjs */

.swipe {
    overflow: hidden;
    visibility: hidden;
    position: relative;
  }
  .swipe-wrap {
    overflow: hidden;
    position: relative;
  }
  .swipe-wrap > div {
    float: left;
    width: 100%;
    position: relative;
    overflow: hidden;
  }

  /* end */

  #end-container {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 1;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    visibility: hidden;
  }

  #end-container h1 {
    font-family: monospace;
    font-size: 50px;
    margin: 20px auto;
  }

  #end-container a {
    color: black;
    text-decoration: none;
    padding: 12px;
    background-color: white;
    border: 1px solid white;
  }
  #end-container a:hover {
    color: white;
    background-color: transparent;
    transition: .3s;
  } 