* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

/* icons */

#icons {
    height: 12vh;
    width: 100%;
    background-color: rgb(36, 36, 36);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

#icons img {
    width: 50px;
}

#background-user {
    height: 50px;
    background-color: #ffffff;
}

#progress-user {
    height: 20px; /* timhle menis mnozstvi "staminy" */
    background-color: #717171;
}

#background-dollar {
    height: 50px;
    background-color: #ffffff;
}

#progress-dollar {
    height: 40px; /* timhle menis mnozstvi "staminy" */
    background-color: #717171;
}

#background-knowledge {
    height: 50px;
    background-color: #ffffff;
}

#progress-knowledge {
    height: 30px; /* timhle menis mnozstvi "staminy" */
    background-color: #717171;
}

#background-infrastructure {
    height: 50px;
    background-color: #ffffff;
}

#progress-infrastructure {
    height: 40px; /* timhle menis mnozstvi "staminy" */
    background-color: #717171;
}

/* cards */

#card-container {
    width: 500px;
    height: 100vh;
    margin: 0 auto;
    background-color: rgb(111, 111, 111);
    display: flex;
    flex-direction: column;
} 


#card {
    height: 90vh;
    width: 400px;
    background-color: rgb(201, 201, 201);
    margin: 0 auto;
    
}

.character-info {
    text-align: center;
    margin: 20px 0 5px 0;
}


#img-background {
    background: #5c6c76;
    border-radius: 10px;
    width: 350px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
}

#img-path {
    width: 200px;
    padding-top: 20px;
}

#text {
    text-align: center;
    font-family: monospace;
    font-size: 16px;
    padding: 30px 15px;
    display: inline-block;
    height: 20vh;
}

.year-container {
    display: flex;
    width: 100%;  
    height: 10vh;
    background-color: rgb(36, 36, 36);
    justify-content: center;
    align-items: center;
}

#year {
    font-family: monospace;
    font-size: 30px;
    color: white;
    text-align: center;
}

/* answers */

.yes-container {
    height: 80vh;
    background-color: rgb(1, 107, 1);
    display: flex;
    align-items: center;
}

.no-container {
    height: 80vh;
    background-color: rgb(186, 2, 2);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#yes {
    margin: 0 20px;
    font-family: monospace;
    font-size: 35px;
    display: inline-block;
}

#no {
    font-family: monospace;
    font-size: 35px;
    margin: 55% 20px;
}

/* sliderjs */

.swipe {
    overflow: hidden;
    visibility: hidden;
    position: relative;
  }
  .swipe-wrap {
    overflow: hidden;
    position: relative;
  }
  .swipe-wrap > div {
    float: left;
    width: 100%;
    position: relative;
    overflow: hidden;
  }