* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    -webkit-user-drag: none;
    user-zoom: none;
    -webkit-touch-callout: none;
}

body {
    background-image: url('./imgs/industrial-background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* icons */

#icons {
    height: 12vh;
    width: 100%;
    background-color: rgb(36, 36, 36);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

#icons img {
    width: 50px;
}

#background-user {
    height: 50px;
    background-color: #ffffff;
}

#progress-user {
    height: 25px; /* timhle menis mnozstvi "staminy" */
    background-color: #717171;
}

#background-dollar {
    height: 50px;
    background-color: #ffffff;
}

#progress-dollar {
    height: 25px; /* timhle menis mnozstvi "staminy" */
    background-color: #717171;
}

#background-knowledge {
    height: 50px;
    background-color: #ffffff;
}

#progress-knowledge {
    height: 25px; /* timhle menis mnozstvi "staminy" */
    background-color: #717171;
}

#background-infrastructure {
    height: 50px;
    background-color: #ffffff;
}

#progress-infrastructure {
    height: 25px; /* timhle menis mnozstvi "staminy" */
    background-color: #717171;
}

/* cards */

#card-container {
    width: 500px;
    height: 100vh;
    margin: 0 auto;
    background-color: rgb(111, 111, 111);
    display: flex;
    flex-direction: column;
} 


#card {
    height: 90vh;
    width: 400px;
    background-color: rgb(201, 201, 201);
    margin: 0 auto;
    
}

.character-info {
    text-align: center;
    margin: 20px 0 5px 0;
}


#img-background {
    background: #5c6c76;
    border-radius: 10px;
    width: 350px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
}

#img-path {
    width: 200px;
    padding-top: 20px;
}

#text {
    text-align: center;
    width: 100%;
    font-family: monospace;
    font-size: 25px;
    padding: 30px 20px;
    display: inline-block;
    height: 20vh;
}

.year-container {
    display: flex;
    width: 100%;  
    height: 10vh;
    background-color: rgb(36, 36, 36);
    justify-content: center;
    align-items: center;
}

#year {
    font-family: monospace;
    font-size: 30px;
    color: white;
    text-align: center;
}

/* answers */

.yes-container {
    height: 80vh;
    background-color: rgb(1, 151, 1);
    display: flex;
    align-items: center;
}

.no-container {
    height: 80vh;
    background-color: rgb(208, 5, 5);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#yes {
    margin: 0 20px;
    font-family: monospace;
    font-size: 35px;
    display: inline-block;
}

#no {
    font-family: monospace;
    font-size: 35px;
    margin: 55% 20px;
}

/* sliderjs */

.swipe {
    overflow: hidden;
    visibility: hidden;
    position: relative;
  }
  .swipe-wrap {
    overflow: hidden;
    position: relative;
  }
  .swipe-wrap > div {
    float: left;
    width: 100%;
    position: relative;
    overflow: hidden;
  }

  /* end */

  #end-container {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 1;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    visibility: hidden;
  }

  #end-container h1 {
    font-family: monospace;
    font-size: 50px;
    margin: 20px auto;
  }

  #end-container a {
    color: black;
    text-decoration: none;
    padding: 12px;
    background-color: white;
    border: 1px solid white;
  }
  #end-container a:hover {
    color: white;
    background-color: transparent;
    transition: .3s;
  }

  /* start */

  #start-page {
    position: absolute;
    background-color: #000;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

#start-page h1 {
    font-family: monospace;
    font-size: 50px;
    display: inline-block;
    margin: 20px;
}

.div1 { 
    grid-area: 1 / 1 / 4 / 2; 
    background-color: #000000;
}
.div1 h1 {
    color: white;
}
.div1:hover h1 {
    text-decoration: underline;
}
.div2 { 
    grid-area: 1 / 2 / 2 / 3; 
    background-color: #bebebe;
    color: #000;
}
.div2:hover h1 {
    text-decoration: underline;
}
.div3 { 
    grid-area: 2 / 2 / 3 / 3; 
    background-color: #949494;
    color: #000;
}
.div3:hover h1 {
    text-decoration: underline;
}
.div4 { 
    grid-area: 3 / 2 / 4 / 3; 
    background-color: #535353;
    color: #000;
}
.div4:hover h1 {
    text-decoration: underline;
}