* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    -webkit-user-drag: none;
    user-zoom: none;
    -webkit-touch-callout: none;

}

#body {
    background: linear-gradient(rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.40)),url('./imgs/industrial-background.png') no-repeat fixed center;
    background-size: cover;
    overflow: hidden;

}

/* sliderjs ------------------------------------------------------------------------------- */

.swipe {
    overflow: hidden;
    visibility: hidden;
    position: relative;
    width: 30vw;
  }
  .swipe-wrap {
    overflow: hidden;
    position: relative;
  }
  .swipe-wrap > div {
    float: left;
    width: 100%;
    position: relative;
    overflow: hidden;
  }

/* icons ------------------------------------------------------------------------------------ */

#icons {
    height: 12vh;
    width: 100%;
    background-color: rgb(36, 36, 36);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

#icons img {
    width: 50px;
}

#background-user {
    height: 50px;
    background-color: #ffffff;
}

#progress-user {
    height: 25px; /* timhle menis mnozstvi "staminy" */
    background-color: #717171;
}

#background-dollar {
    height: 50px;
    background-color: #ffffff;
}

#progress-dollar {
    height: 25px; /* timhle menis mnozstvi "staminy" */
    background-color: #717171;
}

#background-knowledge {
    height: 50px;
    background-color: #ffffff;
}

#progress-knowledge {
    height: 25px; /* timhle menis mnozstvi "staminy" */
    background-color: #717171;
}

#background-infrastructure {
    height: 50px;
    background-color: #ffffff;
}

#progress-infrastructure {
    height: 25px; /* timhle menis mnozstvi "staminy" */
    background-color: #717171;
}

/* cards ------------------------------------------------------------------------------- */

#card-container {
    width: 30vw;
    height: 100vh;
    margin: 0 auto;
    background-color: rgb(111, 111, 111);
    display: flex;
    flex-direction: column;
} 


#card {
    width: 100%;
    height: 90vh;
    background-color: rgb(201, 201, 201);
    margin: 0 auto;
    
}

.character-info {
    text-align: center;
    margin: 20px 0 5px 0;
}


#img-background {
    background: #5c6c76;
    border-radius: 10px;
    width: 80%;
    height: 30vh;
    margin: 25px auto;
    display: flex;
    justify-content: center;
}

#img-path {
    padding-top: 30px;
}

#text {
    text-align: center;
    width: 100%;
    font-family: monospace;
    font-size: 20px;
    padding: 25px 40px;
    display: inline-block;
    height: 20vh;
}

/* year ----------------------------------------------------------------------------------- */

.year-container {
    display: flex;
    width: 100%;  
    height: 10vh;
    background-color: rgb(36, 36, 36);
    justify-content: center;
    align-items: center;
}

#year {
    font-family: monospace;
    font-size: 30px;
    color: white;
    text-align: center;
}

/* answers --------------------------------------------------------------------------- */

.yes-container {
    height: 90vh;
    background-color: rgb(1, 151, 1);
}

.no-container {
    height: 90vh;
    background-color: rgb(208, 5, 5);
}

#yes {
    margin: 0 20px;
    font-family: monospace;
    font-size: 35px;
    display: inline-block;
}

#no {
    font-family: monospace;
    font-size: 35px;
    margin: 55% 20px;
}

  /* end ------------------------------------------------------------------------------------------- */

  #end-container {
    position: absolute;
    width: 100%;
    height: 105vh;
    background-color: #000;
    z-index: 1;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    visibility: hidden;
  }

  #end-container h1 {
    font-family: monospace;
    font-size: 50px;
    margin: 20px auto;
  }

  #end-container a {
    color: black;
    text-decoration: none;
    padding: 12px;
    background-color: white;
    border: 1px solid white;
  }
  #end-container a:hover {
    color: white;
    background-color: transparent;
    transition: .3s;
  }

  /* start ---------------------------------------------------------------------------------------- */

/* 
  #start-page {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

#start-page h1 {
    font-family: monospace;
    font-size: 50px;
    display: inline-block;
    margin: 20px;
}

.div1 { 
    grid-area: 1 / 1 / 4 / 2; 
    background-color: #000000;
}
.div1 h1 {
    color: white;
}
.div1:hover h1 {
    text-decoration: underline;
}
.div2 { 
    grid-area: 1 / 2 / 4 / 2; 
    background-color: #bebebe;
    color: #000;
}
.div2:hover h1 {
    text-decoration: underline;
}
*/

.card-container--start {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 40vw;
    margin: 0 30vw;
    background-color: rgb(78, 78, 78);
    display: flex;
    flex-direction: column;

} 

.header {
    height: 15vh;
    padding: 30px 0;
    width: 100%;
    border: none;
    font-size: 60px;
    font-family: sans-serif;
    text-align: center;
    color: #c7c7c7;
    background-color: #000000;
}

.options-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

.option {
    background-color: rgb(112, 112, 112);
    width: 100%;
    height: max-content;
    height: 33.4%;
    text-decoration: none;
    color: #000;
}
.option:hover {
    text-decoration: underline;
}

.option:first-of-type {
    background-color: #3b3b3b;
}
.option:last-of-type {
    background-color: #cecece;
}

.option h1 {
    font-family: monospace;
    font-size: 50px;
    margin: 20px auto;
    text-align: center;
}

/* responsivity ------------------------------------------------------------------------------------- */

@media screen and (max-width: 992px) {
        .swipe {
            width: 45vw;
        }
    
        #card-container {
            width: 45vw;
        }

        #end-text {
            display: inline-block;
            text-align: center;
            margin: 20px 10%;
        }
}

@media screen and (max-width: 692px) {
    .swipe {
        width: 70vw;
    }

    #card-container {
        width: 70vw;
    }

    #end-container h1 {
        text-align: center;
        margin: 50px;
    }

}

@media screen and (max-width: 430px) {
    .swipe {
        width: 100vw;
        margin: 0;
    }

    #card-container {
        width: 100vw;
        margin: 0;
    }

    /* start ----------------------- */

    #start-page {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .div1 {
        width: 100vw;
        height: 50vh;
    }

    #start-page h1 {
        font-size: 30px;
    }

    .div2 {
        width: 100vw;
        height: 50vh;
    }

    /* end ---------------------- */

    #end-container h1 {
        font-size: 30px;
        text-align: center;
        margin: 20px;
    }

}